<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <Feature Id="Admin" Title="Belt Test Admin Functionality" Description="This is the admin functionality for the Belt Test Program"
             Level="2">
      <Level Condition="ENABLEDESKTOPSHORTCUT" Value="1" />

      <ComponentGroupRef Id="WindowsFormsAppComponents" />
    </Feature>
  </Fragment>
</Wix>
