<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ClassLibraryComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Source="ClassLibrary1.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
