<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ConsoleAppComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Source="ConsoleApp1.exe" />

        <Environment Name="PATH" System="yes" Value="[INSTALLFOLDER]"
                     Action="set" Part="last" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
