<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="!(bind.Property.Manufacturer) !(bind.Property.ProductName)">
        <Directory Id="DATAFOLDER" Name="data" />
      </Directory>
    </StandardDirectory>
  </Fragment>
</Wix>
