<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="Belt Test" Manufacturer="Deployment Dojo" Version="$(Version)" UpgradeCode="35dd0c31-a9da-4204-9dba-fba0812cb1a6">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
    
    <Property Id="ARPPRODUCTICON" Value="fg.exe" />
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_472_OR_LATER_INSTALLED" />
    
    <Launch Message="You must install .NET Framework 4.7.2 or newer"
            Condition="Installed OR WIX_IS_NETFRAMEWORK_472_OR_LATER_INSTALLED"/>

    <Feature Id="Main">
      <ComponentGroupRef Id="ClassLibraryComponents" />
      <ComponentGroupRef Id="ConsoleAppComponents" />
      <ComponentGroupRef Id="WindowsFormsAppComponents" />
      <ComponentGroupRef Id="WindowsServiceComponents" />
    </Feature>

    <ui:WixUI Id="WixUI_Minimal" />
  </Package>
</Wix>
