<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="Belt Test" Manufacturer="Deployment Dojo" Version="$(Version)" UpgradeCode="35dd0c31-a9da-4204-9dba-fba0812cb1a6">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
    
    <Property Id="ARPPRODUCTICON" Value="fg.exe" />
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_472_OR_LATER_INSTALLED" />

    <Launch Message="You must install .NET Framework 4.7.2 or newer"
            Condition="Installed OR WIX_IS_NETFRAMEWORK_472_OR_LATER_INSTALLED"/>

    <FeatureRef Id="Main" />

    <ui:WixUI Id="WixUI_FeatureTree" />
  </Package>

  <Fragment>
    <Feature Id="Main" Title="Belt Test Program" Description="This is the main part of the Belt Test Program">
      <ComponentGroupRef Id="ClassLibraryComponents" />
      <ComponentGroupRef Id="ConsoleAppComponents" />
      <ComponentGroupRef Id="WindowsServiceComponents" />
      <ComponentGroupRef Id="NativeDllComponents" />
      <ComponentRef Id="LegalStuff" />

      <Feature Id="Admin" Title="Belt Test Admin Functionality" Description="This is the admin functionality for the Belt Test Program">
        <ComponentGroupRef Id="WindowsFormsAppComponents" />
      </Feature>
    </Feature>
  </Fragment>
  
  <Fragment>
    <Component Id="LegalStuff" Directory="INSTALLFOLDER" Subdirectory="legal">
      <File Source="SPONSORS.txt" />
    </Component>
  </Fragment>
</Wix>
