<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="WindowsServiceComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Source="WindowsService1.exe" />
        <ServiceInstall Name="DeploymentDojoCounting" DisplayName="~Deployment Dojo Counting Service"
                        Description="This is the description of the Deployment Dojo Counting Service"
                        Type="ownProcess" Start="auto" ErrorControl="normal"
                        Account="NT AUTHORITY\LocalService" />
        <ServiceControl Name="DeploymentDojoCounting" Remove="uninstall" Start="install" Stop="both" />
      </Component>

      <!-- This component is responsible for configuring the CountFilePath for the service,
           setting the permissions on the data folder and cleaning up the created text file.
      -->
      <Component Directory="DATAFOLDER">
        <RegistryValue Root="HKLM" Key="SOFTWARE\BeltTest" Name="CountFilePath" Value="[DATAFOLDER]data.txt" />

        <RemoveFile Name="data.txt" On="both" />

        <CreateFolder>
          <PermissionEx Sddl="D:PAI(A;OICI;FA;;;LS)(A;OICI;FA;;;BA)(A;OICI;0x1200a9;;;AU)" />
        </CreateFolder>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
