<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="WindowsFormsAppComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Source="WindowsFormsApp1.exe" />
        <Shortcut Name="Deployment Dojo Windows Forms App 1" Directory="ProgramMenuFolder" Advertise="yes" 
                  Icon="fg.exe" />
      </Component>
    </ComponentGroup>

    <Icon Id="fg.exe" SourceFile="fg.ico" />
  </Fragment>
</Wix>
